<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="OpenApiAsyncMessageConsumerServiceSoapBinding" />
        <binding name="OpenApiMessageConsumerServiceSoapBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      
      <endpoint address="http://localhost:8088/mockOpenApiAsyncMessageConsumerServiceSoapBinding"
          binding="basicHttpBinding" bindingConfiguration="OpenApiAsyncMessageConsumerServiceSoapBinding"
          contract="OpenApiAsyncMessageConsumerServiceReference.OpenApiAsyncMessageConsumerServicePortType" name="OpenApiAsyncMessageConsumerServiceEndpoint" />
      
      <endpoint address="http://localhost:8088/mockOpenApiMessageConsumerServiceSoapBinding"
          binding="basicHttpBinding" bindingConfiguration="OpenApiMessageConsumerServiceSoapBinding"
          contract="OpenApiMessageConsumerServiceReference.OpenApiMessageConsumerServicePortType" name="OpenApiMessageConsumerServiceEndpoint" />
    </client>
  </system.serviceModel>
</configuration>